<html>
	<head></head>
	<style type="text/css">
		body {background-color: red;
			text-align: center;
			margin-top: 15%
		}

		.hey { height: 10%;
		}
	</style>
	<body>
		<h1><strong>Sorry, you're out of guesses</strong></h1>
		<h3> The correct word was: <%= saved_word %> </h3>
		<p>Click the "New Game" button to start a new game</p>



		


		<form>
			<input type='text' name='new_game' />
			<input type='submit' value='New Game' />
		</form>
	</body>
</html>